<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Properties.Settings.balldbConnectionString" connectionString="server=localhost;user id=root;password=T03031995;database=balldb" providerName="MySql.Data.MySqlClient" />
    <add name="Properties.Settings.balldbConnectionString1" connectionString="server=localhost;user id=root;database=balldb" providerName="MySql.Data.MySqlClient" />
    <add name="Properties.Settings.balldbConnectionString2" connectionString="server=localhost;user id=root;password=T03031995;persistsecurityinfo=True;database=balldb" providerName="MySql.Data.MySqlClient" />
    <add name="balldbEntities" connectionString="metadata=res://*/Accounts.csdl|res://*/Accounts.ssdl|res://*/Accounts.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=T03031995;database=balldb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>